<h1><%= title %></h1>

<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
      <h1 class="w3-xxlarge">Welcome To Rock's Convenience Store/h1>
    </div>
  </header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="/w3images/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
      </div>
  
      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Rock's Convenience Store</h1><br>
        <h5 class="w3-center">Tradition since 1889</h5>
        <p class="w3-large">The Catering was founded in Georgetown by 4 extraordinary MBA students set on a mission to better the lives of MBA students. Our promise
            to every body.
            Living mighty. Living long. Living fit. Every person has a different definition of what it means to live well—and at GNC—we see that as something worth celebrating.
            
            Whether you're just getting started, or you need to keep going, GNC is committed to sparking your motivation and supporting your desire to live well.</p>
      </div>
    </div>
    
    <hr>



<!-- Menu Section -->
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Best Sellers</h1><br>
      <h4>Flaxseed Oil</h4>
      <p class="w3-text-grey">1200mg of Cold-Pressed, Organic Flaxseed oil per veggie-softgel</p><br>
      <button onclick="window.location.href='https://rockapp1.herokuapp.com/products';">
        Click Here
      </button>
      <h4>Honey Almond Granola with Fruits</h4>
      <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>
    
      <h4>Belgian Waffle</h4>
      <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>
    
      <h4>Scrambled eggs</h4>
      <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>
    
      <h4>Blueberry Pancakes</h4>
      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="/w3images/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>
  <p>Welcome To Rock's Covenience Store</p>