<!DOCTYPE html>
<html>
<head>
    
  <div class="content">
    <img src="images/Rock_supplement_picture.png" alt="Bear" style="width:100%">
 
  </div>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      background-color: #f1f1f1;
      padding: 20px;
      font-family: Arial;
    }
    
    /* Center website */
    .main {
      max-width: 1000px;
      margin: auto;
    }
    
    h1 {
      font-size: 50px;
      word-break: break-all;
    }
    
    .row {
      margin: 8px -16px;
    }
    
    /* Add padding BETWEEN each column */
    .row,
    .row > .column {
      padding: 8px;
    }
    
    /* Create four equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
    }
    
    /* Clear floats after rows */ 
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Content */
    .content {
      background-color: white;
      padding: 10px;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 900px) {
      .column {
        width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }
    </style>
    </head>
    <body>
    
    <!-- MAIN (Center website) -->
    <div class="main">



    
  <h3>Rock's Supplement Store</h3>
  <div>
    <h3 class="w3-center">Tradition since 2022</h3>
    <p class="w3-large">Rock's Supplement Co. was founded in Georgetown by 4 extraordinary MBA students set on a mission to better the lives of MBA students. Our promise
        to every body.
        Living mighty. Living long. Living fit. Every person has a different definition of what it means to live well—and at GNC—we see that as something worth celebrating.
        
        Whether you're just getting started, or you need to keep going, Rock's Supplement Co. is committed to sparking your motivation and supporting your desire to live well.</p>
</div>





    <hr>
    
    <h2>Our Best Sellers</h2>
    <p>Welcome to our store. Below are our best sellers to help you discover your best self.</p>
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="images/Zinc_Image.jpg" alt="Mountains" style="width:100%">
          <h3>Zinc</h3>
          <p>Zinc Picolinate 50mg with Organic Coconut Oil | Highly Absorbable Zinc Supplement for Healthy Immune Function | Non-GMO Verified, Gluten & Soy Free (60 Liquid Soft gels)</p>
          <button onclick="window.location.href='https://rockapp1.herokuapp.com/products';">
            Buy
          </button>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/krill_oil.jpg" alt="Lights" style="width:100%">
          <h3>Krill Oil</h3>
          <p>Antarctic Krill Oil 1000mg (Double Strength) with Omega-3s EPA & DHA + Astaxanthin | IKOS 5-Star Certified & Non-GMO Verified (60 Softgels)</p>
          <button onclick="window.location.href='https://rockapp1.herokuapp.com/products';">
            Buy
          </button>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/Blueberry_Concentrate.jpg" alt="Nature" style="width:100%">
          <h3>Blueberry concentrate</h3>
          <p>Whole Fruit Blueberry Concentrate Made from Organic Blueberries ~ Non-GMO & Gluten Free (60 Liquid Softgels)</p>
          <button onclick="window.location.href='https://rockapp1.herokuapp.com/products';">
            Buy
          </button>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/Garlic_Oil.jpg" alt="Mountains" style="width:100%">
          <h3>Garlic Oil</h3>
          <p>Odorless Garlic Oil Pills (1000mg) with Parsley & Chlorophyll | Non-GMO Verified, Vegan Certified & Gluten Free (150 PlantGels)</p>
          <button onclick="window.location.href='https://rockapp1.herokuapp.com/products';">
            Buy
          </button>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <div class="content">
      <img src="images/Make_Your_Dream_A_Reality.png" alt="Bear" style="width:100%">
      <h3>About Rock's Supplement Store</h3>
      <p>Since 2020, our family has been dedicated to providing the highest quality health and wellness products, achieved through extensive research and the best ingredients. That's our commitment, from our family to yours.</p>
    </div>


</body>
</html>
